<div class="container">
	<div class="col-md-12">
		<div class="row">
			<div class="panel panel-primary">
	            <div class="panel-heading">
	                <h3 class="panel-title">Matris Derinliği</h3>
	            </div>
	            <div class="panel-body">
	                <form class="form-horizontal" method="post" action="/home/matris">
					    <div class="form-group">
					        <label class="col-md-2 control-label">Derinlik</label>
					        <div class="col-md-10">
					            <input type="text" class="form-control" name="deep">
					        </div>
					    </div>

					    <div class="form-group">
					        <div class="col-md-12 text-right">
					            <button type="submit" class="btn btn-primary">Matrisi oluştur</button>
					        </div>
					    </div>
					</form>
	            </div>
	        </div>
		</div>
		
	</div>
</div>


<script>
	var name = 'Eyüp'

	function hi(name)
	{
		name = 'Elif'

	}
	hi(name)
	console.log(name)

</script>