<style type="text/css">
	
	.table > tbody > tr > td
	{
		font-weight: bold;
		font-size: 16px;
	}
	
</style>
<div class="container" id="pageContainer">
	<div class="page-header text-center">
		<h3>Başlangıç Matrisininin Oluşturulması</h3>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<ul>
					<li>
						Girilen derinlik değeri kadar yıldız sembolü yer değiştiriliyor. Bu şekilde başlangıç matrisi bitiş matrisinden oluşturuluyor.
					</li>
				</ul>
	        </div>
		</div>
		
	
	</div>
	<div class="row" id="startMatrix">
		<div class="col-md-2"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Bitiş Matrisi</h3></div><div class="panel-body"><div class="row"><div class="col-md-3 text-center">1</div><div class="col-md-3 text-center">2</div><div class="col-md-3 text-center">3</div><div class="col-md-3 text-center">4</div></div><div class="row"><div class="col-md-3 text-center">5</div><div class="col-md-3 text-center">6</div><div class="col-md-3 text-center">7</div><div class="col-md-3 text-center">8</div></div><div class="row"><div class="col-md-3 text-center">9</div><div class="col-md-3 text-center">10</div><div class="col-md-3 text-center">11</div><div class="col-md-3 text-center">12</div></div><div class="row"><div class="col-md-3 text-center">13</div><div class="col-md-3 text-center">14</div><div class="col-md-3 text-center">15</div><div class="col-md-3 text-center">*</div></div></div></div></div>
	</div>
	<div class="page-header text-center">
		<h3>Bitiş Matrisinin Bulunması</h3>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<ul>
					<li>
	        			Satırdaki Branch'lar, satır başındaki node matrisinin yapraklarıdır.
					</li>
					<li>
						Her node yada branch nesnesinin altında derinlik ve f değeri yazmaktadır.
					</li>
					<li>
						A* algoritması seçim yaparken branch'lardan en küçük f'e sahip olanı sıradaki döngüde alıp, onun yapraklarını bularak bir alt satıra onu node yaparak yazmaktadır.
					</li>
				</ul>
	        </div>
		</div>
	</div>
	<div class="row" id="endMatrix"></div>
	<div class="page-header text-center"><h3>İstatistikler ve Bitiş Matrisi</h3></div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<ul id="statistics">
				</ul>
	        </div>
		</div>
	</div>
</div>



<script>
	var memory = 0

	// Generating tables for user interface.
	function generateMatrisPanel(matrix, title, footer)
	{
		var tableString = '<div class="col-md-2"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">' + title + '</h3></div><div class="panel-body">'
						
		for (var i = 0; i < matrix.length; i++)
		{	
			tableString += '<div class="row">'

			for (var j = 0; j < matrix[i].length; j++)
			{
				tableString += '<div class="col-md-3 text-center">' + matrix[i][j] + '</div>'
			}

			tableString += '</div>'
		}

		tableString += '</div><div class="panel-footer">' + footer + '</div></div></div>' 

		return tableString
	}

	// Generating start matrix via deep.
	function generateStartMatrix(image, deep)
	{
		var startMatrix = $.extend(true, [], image); // Cloning matrix
		var counter = 0
		var starIndex = searchBlockIndex(image, '*') // Finding index of star.

		while ( counter < deep  )
		{
			var neighbors = []

			if ( (starIndex.j - 1) >= 0 ) // Star can step left.
			{
				neighbors.push( {i: starIndex.i, j: (starIndex.j - 1)} )
			}

			if ( (starIndex.i - 1) >= 0) // Star can step up.
			{
				neighbors.push( {i: starIndex.i - 1, j: (starIndex.j)} )
			}

			if ( (starIndex.j + 1) < startMatrix[0].length) // Star can step right.
			{
				neighbors.push( {i: starIndex.i, j: (starIndex.j + 1)} )
			}

			if ( (starIndex.i + 1) < startMatrix.length) // Star can step down.
			{
				neighbors.push( {i: starIndex.i  + 1, j: (starIndex.j)} )
			}

			var neighbor = neighbors[Math.floor((Math.random() * (neighbors.length - 1)) + 0)] // Choosing a random neighbor of star.

			// Changing block and star.
			var targetBlock = startMatrix[neighbor.i][neighbor.j]
			startMatrix[neighbor.i][neighbor.j] = '*'
			startMatrix[starIndex.i][starIndex.j] = targetBlock
			starIndex = { i: neighbor.i, j: neighbor.j }

			
			counter++
			// Adding matrix to table for user interface.
			$('#startMatrix').append( generateMatrisPanel(startMatrix, 'Deep: '.concat(counter), '' ) )
			
		}

		return startMatrix
	}


	// Count of unmatched blocks.
	function calculateH1(shuffledImage, image)
	{
		var h1 = 0

		for (var i = 0; i < shuffledImage.length; i++)
		{
			for (var j = 0; j < shuffledImage[i].length; j++)
			{
				if (shuffledImage[i][j] != image[i][j])
					h1++
			}
		}

		return h1
	}

	// Searcing a block and returns its index from image (end image).
	function searchBlockIndex(image, block)
	{
		for (var i = 0; i < image.length; i++)
		{
			for (var j = 0; j < image[i].length; j++)
			{
				if ( image[i][j] == block )
				{
					return {'i': i, 'j': j}
				}
			}
		}
	}

	// Manhattan distance of a block.
	function calculateManhattanDistance(image, shuffledImage, i, j)
	{
		var index = searchBlockIndex(image, shuffledImage[i][j]) // Finding shuffledImage[i][j] in image matrix. Then return its index.

		return Math.abs( index.i - i ) + Math.abs( index.j - j ) // Calculating manhattan distance from indexes.
		
	}

	function calculateH1(starMatrix, endMatrix)
	{
		var h1 = 0

		for (var i = 0; i < starMatrix.length; i++)
		{
			for (var j = 0; j < starMatrix[i].length; j++)
			{
				if ( starMatrix[i][j] != endMatrix[i][j] )
				{
					h1++
				}
			}
		}

		return h1
	}
	
	// Sum of manhattan distances.
	function calculateH2(shuffledImage)
	{
		var h2 = 0

		for (var i = 0; i < shuffledImage.length; i++)
		{
			for (var j = 0; j < shuffledImage[i].length; j++)
			{
				var block = shuffledImage[i][j]

				// Calculate heuristic except * sign.
				if ( block != '*')
				{
					h2 += calculateManhattanDistance(endImage, shuffledImage, i, j)
				}
			}
		}

		return h2
	}

	
	// Exchanging the blocks
	function exchangeBlocks(matrix, first, second)
	{
		var targetBlock = matrix[second.i][second.j]
		matrix[second.i][second.j] = '*'
		matrix[first.i][first.j] = targetBlock

		return matrix
	}

	var queue = new PriorityQueue()

	
	// Searching for branches. Then pushing them to priority queue and prints them to ui.
	function searchAndPushBranches(endImage, shuffledImage, g)
	{
		var star  = searchBlockIndex(shuffledImage, '*')

		$('#endMatrix').append( '<div class="row">' )
		$('#endMatrix').append( generateMatrisPanel(shuffledImage, 'Node', 'Deep: ' + g) )

		if ( (star.j - 1) >= 0 ) // Star goes left. Then A* calculate f, deep and h1.
		{
			var matrixLeft = exchangeBlocks($.extend(true, [], shuffledImage), star, {i: star.i, j: (star.j - 1) }) // Exchanging * and left block then return new matrix.
			var leftQueueObject = {matrix: matrixLeft, f: (g + calculateH2( matrixLeft )), deep: g, h1: calculateH1(matrixLeft, endImage) } // Preparing new queue object.
			queue.push( leftQueueObject )
			memory++ // to count memory usage.
			$('#endMatrix').append( generateMatrisPanel(matrixLeft, 'Branch', 'Deep: ' + leftQueueObject.deep + ',&nbsp;&nbsp;&nbsp;f: ' + leftQueueObject.f) ) // Adding matrix to user interface

		}

		if ( (star.i - 1) >= 0) // Star goes up. Then A* calculate f, deep and h1.
		{
			var matrixUp = exchangeBlocks($.extend(true, [], shuffledImage), star, {i: (star.i - 1), j: star.j })
			var upQueueObject = {matrix: matrixUp, f: (g + calculateH2( matrixUp )), deep: g, h1: calculateH1(matrixUp, endImage) }
			queue.push( upQueueObject )
			memory++ // to count memory usage.
			$('#endMatrix').append( generateMatrisPanel(matrixUp, 'Branch', 'Deep: ' + upQueueObject.deep + ',&nbsp;&nbsp;&nbsp;f: ' + upQueueObject.f) )
		}

		if ( (star.j + 1) < shuffledImage[0].length) // Star goes right. Then A* calculate f, deep and h1.
		{
			var matrixRight = exchangeBlocks($.extend(true, [], shuffledImage), star, {i: star.i, j: (star.j + 1) })
			var rightQueueObject = {matrix: matrixRight, f: (g + calculateH2( matrixRight )), deep: g, h1: calculateH1(matrixRight, endImage) }
			queue.push( rightQueueObject )
			memory++ // to count memory usage.
			$('#endMatrix').append( generateMatrisPanel(matrixRight, 'Branch', 'Deep: ' + rightQueueObject.deep + ',&nbsp;&nbsp;&nbsp;f: ' + rightQueueObject.f) )
		}

		if ( (star.i + 1) < shuffledImage.length) // Star goes down. Then A* calculate f, deep and h1.
		{
			var matrixDown = exchangeBlocks($.extend(true, [], shuffledImage), star, {i: (star.i + 1), j: star.j })
			var downQueueObject = {matrix: matrixDown, f: (g + calculateH2( matrixDown )), deep: g, h1: calculateH1(matrixDown, endImage) }
			queue.push( downQueueObject )
			memory++ // to count memory usage.
			$('#endMatrix').append( generateMatrisPanel(matrixDown, 'Branch', 'Deep: ' + downQueueObject.deep + ',&nbsp;&nbsp;&nbsp;f: ' + downQueueObject.f) )
		}

		$('#endMatrix').append('<div class="col-md-2"><ul><li>Mevcut iterasyonda kullanılan hafıza: ' + queue.size() * 100 + ' bytes</li></ul></div>')

		$('#endMatrix').append( '</div>' )
	}
	
	
	var endImage = <%- JSON.stringify( image ) %> // The end matrix.
	var deep = <%= deep %> // this is the value that how many steps star will go.
	var shuffledImage = generateStartMatrix(endImage, deep) // The start matrix.
	
	searchAndPushBranches(endImage, shuffledImage, 1) // Searching branches of root (start matrix).
	var max = 0 // Maximum iteration value.
	var queueObject = queue.pop()
	var h1 = queueObject.h1

	while (h1 > 0 && max < 10000)
	{	
		
	 	

		searchAndPushBranches(endImage, queueObject.matrix, (queueObject.deep + 1))
		queueObject = queue.pop() // Popping the object that has minimum f value.
		h1 = queueObject.h1

		max++
	}





	// Printing the end matris result.
	$('#statistics').append('<li>Süre (İterasyon sayısı): ' + (max + 1) + '</li>')
	$('#statistics').append('<li>Hafıza Kullanımı (Bir nesnenin tahmini boyutu): 100<br /> matrix: 15 Int + 1 String<br />f: 1 Int<br />deep: 1 Int<br />h1: 1 Int<br />Toplam: 80 bytes ≈ 100 bytes (Ekstra hafıza kullanımı olacağından 100 e yuvarlanmıştır.)</li>')
	$('#statistics').append('<li>Hafıza Kullanımı (Öncelik kuyruğuna eklenen nesne sayısı * 100 bytes): ' + (memory*100) + ' bytes</li>')
	$('#pageContainer').append( '<div class="row">' + generateMatrisPanel(queueObject.matrix, 'Branch', 'Deep: ' + queueObject.deep + ',&nbsp;&nbsp;&nbsp;f: ' + queueObject.f + ',&nbsp;&nbsp;&nbsp;h1: ' + queueObject.h1) + '</div>' )





</script>



	            	
	            	
	            